<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/Nightscout" version="1.0.0" viewmodes="maximized">
    <tizen:app-widget id="7i1IpWL7Up.Nightscout.Nightscout" primary="true">
        <tizen:widget-label>Nightscout</tizen:widget-label>
        <tizen:widget-content src="widget/Nightscout/index.html">
            <tizen:widget-size preview="widget/Nightscout/preview.png">2x2</tizen:widget-size>
        </tizen:widget-content>
    </tizen:app-widget>
    <tizen:application id="7i1IpWL7Up.Nightscout" package="7i1IpWL7Up" required_version="4.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="icon.png"/>
    <name>NightscoutOnWatch</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="wearable"/>
</widget>
